body {
    padding: 50px;
    margin: 0;

    background: #ffffff;
}

.tab__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tab__btn {
    position: relative;
  
    flex-grow: 1;
  
    padding: 20px;
    margin: 0;
    border: none;
    
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
  
    background: #000000;
    cursor: pointer;
    
  }

  .tab__btn--active{
    opacity: 1;
  }
  
  .tab__btn:hover{
    opacity: 1;
  }
  
  .tab__btn::before {
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    
  
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
    opacity: 1;
  }
  
  .tab__btn:hover::before {
    transform: scaleY(1);
  }
  
  .tab__btn span {
    position: relative;
    z-index: 2;
  
    padding: 0;
    margin: 0;
  
    transition: color 0.5s ease;
  }
  
  .tab__btn:not(.tab__btn--active):hover span {
    color: #ffffff;
  }
  
  .tab__btn--active::before {
    content: "";
  
    height: 5px;
  
    background-image: linear-gradient(90deg, #b30101, #b30101, #b30101);
  
    transform: scaleY(12.3);
  }
  
  .tab__items {
    position: relative;
  }
  
  .tab__item {
    position: absolute;
  
    display: none;
    width: 100%;
    padding: 20px;
    
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.4em;
  
    border-bottom: 1px solid #ffffff;
    background: #ffffff;
  
    animation: fadeEffect 0.6s ease;
  }
  
  .tab__item--active {
    display: block;
  }
  
  @keyframes fadeEffect {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }